{% extends 'base.html.twig' %}

{% block title %}Jeux Steam-ish{% endblock %}

{% block body %}
    <main class="container mt-5 mb-5">
        <h1>Tous les jeux</h1>
        <div>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-xl-5">
                {% for game in games %}
                    {% include 'common/partials/_cardGame.html.twig' with {'entity': game} %}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
