<div class="col mb-5">
    <a href="{{ path('game_show', {'id': entity.id}) }}" class="card h-100 g-2 text-center text-decoration-none">
        <img src="{{ entity.thumbnailCover}}" class="card-img-top" alt="...">
        <p class="card-price">{{ entity.price }} €</p>
        <div class="card-body">
            <h5 class="card-title">{{ entity.name }}</h5>
        </div>
    </a>
</div>
