<div class="container text-light pt-2">
    <div class="row">
        <div class="col-6 d-flex flex-column">
            <a class="text-decoration-none text-light" href="" target="_blank"><i class="fas fa-external-link-alt me-2"></i>Conditions d'utilisations</a>
            <a class="text-decoration-none text-light" href="" target="_blank"><i class="fas fa-external-link-alt me-2"></i>Politique de confidentialité</a>
        </div>

        <div class="col-6 d-flex flex-column text-end">
            <div class="d-inline-block">
                <a class="social text-decoration-none text-light me-5" href="" target="_blank"><i class="fab fa-twitter-square"></i></a>
                <a class="social text-decoration-none text-light me-5" href="" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a class="social text-decoration-none text-light" href="" target="_blank"><i class="fab fa-twitch"></i></a>
            </div>
        </div>
    </div>
</div>
<div><p class="text-center">Copyright © 2022, Steam-ish</p></div>

