
    <div class="container">
        <div class="row">
            <div class="col-6 d-flex flex-column">
                <p class="">Liens utiles</p>
                <a class="text-decoration-none" href="" target="_blank"><i class="fas fa-external-link-alt"></i>Conditions d'utilisations</a>
                <a class="text-decoration-none" href="" target="_blank"><i class="fas fa-external-link-alt"></i>Politique de confidentialité</a>
            </div>

            <div class="col-6 d-flex flex-column text-end">
                <p class="">Contact</p>
                <div class="d-inline-block">
                    <a class="text-decoration-none" href="" target="_blank"><i class="fab fa-twitter-square"></i></a>
                    <a class="text-decoration-none" href="" target="_blank"><i class="fab fa-facebook-square"></i></a>
                    <a class="text-decoration-none" href="" target="_blank"><i class="fab fa-twitch"></i></a>
                </div>

            </div>
        </div>
    </div>
    <div><p class="text-center">Copyright © 2021, Steam-ish</p></div>

