body{
  font-family: 'Poppins', sans-serif;
  background-color: rgba(250,27,18,0.04);
  h1{
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    margin: 2rem 0 2rem 0;
  }

  h2{
    color: $default-orange;
    margin: 2rem 0 2rem 0;
    text-align: left !important;

  }
  .comments{
    h3{
      font-size: 1.2rem;
      text-align: left;
      img{
        max-width: 140px;
      }
    }
  }
}


